.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}

.wordColumn {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.wordColumn div {
  width: fit-content;
  display: flex;
  margin: 0 2px;
  text-align: center;
}

.wordColumn input {
  text-align: center;
  width: 70px;
  height: 70px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
}

.submitBtn {
  height: 50px;
  margin: 10px 5px;
  border-radius: 10px;
  background-color: #562135;
  color: white;
  font-size: 25px;
  font-weight: 700;
  border-color: #fcd1d7;
}

body {
  background-color: #ffe7de;
}